<nav role="navigation">
  <ul class="nav" id="nav">
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>home</a></li>
    <!-- <li><a href="/tags" {% if page.url == "/tags" %}class="active"{% endif %}>tags</a></li> -->
    <!--UPDATE 5/5/2020: I disabled tags because they just don't fuckn work.-->
    <li><a href="/pieces" {% if page.url == "/pieces" %}class="active"{% endif %}>pieces</a></li>
    <li><a href="/journals" {% if page.url == "/journals" %}class="active"{% endif %}>journal</a></li>
    
    <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>about</a></li>
  </ul>
</nav>
