<nav role="navigation">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>home</a></li>
    <li><a href="/tags" {% if page.url == "/tags" %}class="active"{% endif %}>tags</a></li>
    <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>about</a></li>
    <li><a href="/pieces" {% if page.url == "/pieces" %}class="active"{% endif %}>pieces</a></li>
    <li><a href="/journals" {% if page.url == "/journals" %}class="active"{% endif %}>journal</a></li>
  </ul>
</nav>
