---
layout: default
title: Notes
---

<div class="intro">

<h2>Pieces</h2>
<p><em>longer-form essays and meditations</em></p>

</div>

<div class="grid">

  {% for post in site.posts %}
  
    <article role="article" class="card">
	    <div class="meta">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a></h2>
      <p>{{ post.summary }}</p>
        <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }} &middot; {% assign words = post.content | number_of_words %}
  {% if words < 360 %}
    1 min
  {% else %}
    {{ words | divided_by:180 }} min
  {% endif %} </time> 

	    </div>
  
    </article>
    
  {% endfor %}
  
   </div>

