---
layout: default
title: Journal
---

<div class="intro">

<h2>Journal</h2>
<p><em>day-to-day nonsense</em></p>

</div>
  {% for x in site.journals reversed %}



    <span style="font-weight: 700;"> {{ x.date | date:"%B %-d, %Y" }} </span>

    <a href="{{ site.baseurl }}{{ x.url }}"style="font-style: italic;font-size:70%;opacity:70%;">permalink</a> 



    {{x.content | markdownify}}

    <div style="color:gray; font-size: 80%; text-align: center; padding: 10px 10px 10px 10px;"><center>•</div></center>

  {% endfor %}
