---
layout: default
title: Journal
---

<div class="intro">

<h2>Journal</h2>
<p><em>day-to-day nonsense</em></p>

</div>
  {% for x in site.journals reversed %}

    <a href="{{ site.baseurl }}{{ x.url }}" style="font-weight: 500;font-size:120%;text-decoration:none;"> {{ x.title }}</a>
    <span style="font-weight: 400;font-size:80%;opacity:80%;"> {{ x.date | date:"%B %-d, %Y" }} </span>
    <br>
    <span style="font-size:70%;">{{ x.content | strip_html | truncatewords:15 }}</span>
    <a href="{{ site.baseurl }}{{ x.url }}"style="font-style: italic;font-size:70%;opacity:80%;">Read more</a> 
    <br>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray;width:20%;opacity:30%">
    <!-- {{x.content | markdownify}} -->

  {% endfor %}
